.container{
    height: auto;
    padding: 1rem;
}

.principal{
    height: calc(100vh - 11rem);
    overflow-y: auto;
}

.principal::-webkit-scrollbar {
    display: none;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo > h2{
    color: #12455f;
    font-weight: 800;
    margin:1rem 0 2rem;
}

.show{
    background-color: rgba(0, 0, 0, 0.242);
}

.atracoes {
    display: grid;
    margin: 1rem 0 1rem 0 ;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 2rem;
    place-items: center;
    padding: 1rem;
    height: auto;
}

.evento_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 17rem;
}

.evento_1:hover {
    box-shadow: 3px 3px 3px 3px rgba(8, 8, 8, 0.215);
    transition: 0.1s;
}

.imagens{
    width: 95%;
    padding: 0.4rem;
    object-fit: cover;
    height: 200px;
}

.subscriber{
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 0.5rem;
    color: #ffa41b;
    background-color: black;
    border-radius: 2rem;
    margin-bottom: 6px;
}

.subscriber:hover{
    background-color: #ffa41b;
    color: black;
}


.labelSelect {
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .selectInput {
    margin-left: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:  rgba(0, 0, 0, 0);
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
.selectInput:focus {
    outline: none;
    border-color: #666;
  }


.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    width: 100%;
    margin: 2rem 0 2rem;
  }  
  

.paginationControls{
    margin: 2rem 0 2rem;
}  

.pages{
    cursor: pointer;
    font-size: 15px;
    padding: 0.5rem;
    border: none;
    border-radius: 9px;
    background: rgb(57, 91, 195);
    transition: 0.2s;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin: 1rem 0 2rem;
    color: white;
    box-shadow: 0px 10px 40px -12px #051f4852;
  }
  
.pages:hover{
    color: white;
  }



@media screen and (max-width:915px) {
    .atracoes{
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr)
    }
}

@media screen and (max-width:615px) {
    .atracoes{
        grid-template-columns: minmax(0, 1fr)
    }
}