.rodape {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20rem;
    margin: 4rem 0 2rem 8rem;

    align-items: start;
}

.itens_empresa {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.itens_empresa>li {
    margin-top: 1rem;
}

a {
    color: #678898;
}

.itens_empresa>li>a:hover {
    color: red;
}

.contatos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contatos>li {
    margin-top: 1rem;
}

.aplicativos {
    top: 0;
}

.adicionais {
    border-top: 1px solid #ccc;
    width: 100vw;
}

.info {
    margin: 0 2rem;
    padding: 2rem;
}

.footer_group {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_midias {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.redes>img {
    width: 20px;
    height: 20px;
}