.menuNav {
    background-color: #FFF2E7;
    height: 5rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    color: #580808;
    background-color: #c14040;
    padding: 0.5rem;
    border-radius: 20rem;
    cursor: pointer;
}

.navbar {
    display: flex;
}


.list {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 4em;
}

.item>a {
    font-size: 17px;
    font-weight: 600;
    color: #12455f;
}

a:hover {
    color: red;
}