.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 5rem);
}

.container_user {
  width: 20vw;
  padding: 2rem;
  display: flex;
  justify-content: start;
  left: 0;
  background-color: rgba(179, 179, 255, 0.737);
}

.menus {
  display: flex;
  gap: 3rem;
  margin-left: 1rem;
  flex-direction: column;
}

.menus_user {
  display: flex;
  gap: 3rem;
  align-items: center;
  flex-direction: column;
}

.menus_user li {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
}


.menuButton {
  border: 1px solid transparent;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
  color: #12455f;
}

.menuButton:hover {
  border-bottom: 1px solid red;
  color: #507b91;
}

.btn1 {
  border: 1px solid transparent;
  background-color: transparent;
  width: 40%;
  padding: 5px;
  cursor: pointer;
}

.btn1:hover {
  transition: 0.2s;
  border-bottom: 1px solid red;
}

.content {
  border: 1px solid red;
  background-color: rgba(179, 179, 255, 0.737);
  flex-grow: 1;
  padding: 20px;
}

.welcome{
  display: flex;
  width: 100%;
  gap: 5rem;
  justify-content: center;
  align-items: start;
  background: rgba(0, 0, 0, 0.37);

}

.nome{
  color: #e6f0f5;
  margin-top: 4rem;
  font-size: 38px;
}

.menus_user > li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.icons{
  width: 20px;
  height: 20px;
  margin-right: 10px; 
}

.logout{
  display: flex;
  align-items: center;
}
