.container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 5rem);
}

.container_user {
  width: 20vw;
  padding: 2rem;
  display: flex;
  justify-content: start;
  left: 0;
  background-color: rgba(179, 179, 255, 0.737);
}

.menus {
  display: flex;
  gap: 3rem;
  margin-left: 1rem;
  flex-direction: column;
}

.menus_user {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.menuButton {
  border: 1px solid transparent;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
  color: #12455f;
}

.menuButton:hover {
  border-bottom: 1px solid red;
  color: #507b91;
}

.btn1 {
  border: 1px solid transparent;
  background-color: transparent;
  width: 40%;
  padding: 5px;
  cursor: pointer;
}

.btn1:hover {
  transition: 0.2s;
  border-bottom: 1px solid red;
}

.content {
  border: 1px solid red;
  background-color: rgba(179, 179, 255, 0.737);
  flex-grow: 1;
  padding: 20px;
}