.content {
  background-color: rgba(0, 0, 0, 0.242);
  flex-grow: 1; 
  padding: 20px; 
}

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pesquisa{
height: 8rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem;
justify-content: center;

}

.pesquisa_user{
width: 70%;
display: flex;
align-items: center;
justify-content: center;

}

.pesquisa_user > input{
width: 60%;
border: none;
outline: none;
border-radius: 2rem;
line-height: 3rem;
padding-left: 12px;
font-size: 17px;
color:  #12455f;
}


.add{
  text-align: end;
  margin-top: 1rem;
  width: 100px;
}


.new{
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  border: none;
  font-size: 15px;
  border-radius: 9px;
  background: rgb(57, 91, 195);
  transition: 0.2s;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: white;
  box-shadow: 0px 10px 40px -12px #051f4852;
}



.new:hover{
  background: rgb(66, 89, 158);
  color: rgb(239, 241, 245);
}

.tabela{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
    overflow-y: auto;

}

table {
  width: 95%;
 
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #9d9d9d;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #85b8d6;
  color: #12455f;
  font-weight: bold;
}

.linhaInativa{
  background-color: #ef9393;
}

.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:17px;
}

.acao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    background-color: rgb(31, 60, 115);
    border-radius: 10px;
  }

  .acao > a{
    font-size: 16px;
    color: rgb(237, 230, 230);
    margin: 4px;
    font-weight: 600;
  }

  .botao{
    width: 40%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-top: 2em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1.6px;
    color:  rgb(179, 183, 193);
    background: green;
    transition: 0.2s;
    box-shadow: 0px 10px 40px -12px #051f4852;
  }
  
  .bnt_table{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background: rgb(34, 117, 210, 255);
    transition: 0.2s;
    letter-spacing: 1px;
    color: rgb(179, 183, 193);
    box-shadow: 0px 10px 40px -12px #051f4852;
  }

  .bnt_table:hover{
    background-color: rgb(15, 84, 162);
    color: rgb(239, 241, 245);
  }

.btnEditar{
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    padding: 0.5rem;
    border: none;
    border-radius: 9px;
    background: rgb(57, 91, 195);
    transition: 0.2s;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: white;
    box-shadow: 0px 10px 40px -12px #051f4852;
  }

.btnExcluir{
    cursor: pointer;
    width: 100%;
    line-height: 1.5rem;
    font-size: 15px;
    padding: 0.5rem;
    border: none;
    border-radius: 9px;
    background: rgb(230, 62, 62);
    transition: 0.2s;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0px 10px 40px -12px #051f4852;
  }

  .btnExcluir:hover{
    background: rgb(243, 101, 101);
    color: rgb(239, 241, 245);
  }

  .btnEditar:hover, .pages:hover{
    background: rgb(66, 89, 158);
    color: rgb(239, 241, 245);
  }

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}  

.pages{
  cursor: pointer;
    width: 5%;
    font-size: 15px;
    padding: 0.5rem;
    border: none;
    border-radius: 9px;
    background: rgb(57, 91, 195);
    transition: 0.2s;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: white;
    box-shadow: 0px 10px 40px -12px #051f4852;

}




.pages:hover{
  color: white;

}

.controls {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.labelSelect {
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.selectInput {
  margin-left: 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:  rgba(179, 179, 255, 0.737);
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.selectInput:focus {
  outline: none;
  border-color: #666;
}
